#create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

header {
    display: flex;
    justify-content: center;
    width: 100%;

}

#nav {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 15px;
    margin: 10px;
    border: 4px greenyellow solid;
}

body {
    background-color: pink;
}
h1 {
    color: blue;
}

.submit-button {
    margin: 10px;
}